@import "../../scss/base/variables";
@import "../../scss/base/typography";

.button {
    width: 310px;
    height: 66px;
    border: 2px solid $primary-teal;
    border-radius: 10px;
    font-family: $montserrat-regular;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $primary-teal;

    &:hover {
        background: $primary-teal;
        color: $primary-white;
    }

    &__container {
        padding-top: 20px;
    }

    @media(max-width: $sm-breakpoint) {
        width: 200px;
    }
}