@import "../../scss/base/variables";
@import "../../scss/base/typography";

.learn-more {
    &__link {
        @include link();
        padding-top: 66px;
        padding-bottom: 80px;
    }

    &__h1 {
        @include heading1();
    }

    &__img {
        padding-top: 80px;
        padding-bottom: 48px;
        text-align: center;
    }

    &__body {
        @include body();
        padding-bottom: 35px;
        padding-left: 273px;
        padding-right: 273px;
    }

    &__company-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    &__eva {
        @include body();
        text-align: center;
        padding-left: 157px;
        padding-right: 20px;
        padding-bottom: 65px;

        img {
            padding: 12px;
        }
    }

    &__deloitte {
        @include body();
        padding-left: 20px;
        padding-right: 157px;
        text-align: center;
        display: flex;
        flex-direction: column;

        img {
            padding: 20px;
        }
    }

    &__deloitte-buttons {
        text-align: center;
    }

    @media (max-width:1024px) {
        &__eva {
            @include body();
            text-align: center;
            padding-left: 100px;
            padding-right: 20px;
            padding-bottom: 65px;

        }

        &__deloitte {
            @include body();
            padding-left: 20px;
            padding-right: 100px;

        }
    }


    @media (max-width: $md-breakpoint) {
        &__body {
            padding-left: 50px;
            padding-right: 50px;
        }

        &__company-container {
            flex-direction: column;
            padding-top: 68px;
            padding-bottom: 100px;
        }

        &__eva {
            padding: 20px;

        }

        &__deloitte {
            padding: 20px;

        }
    }

    @media (max-width: $sm-breakpoint) {
        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}