// button {
//     width: 335px;
//     height: 66px;
//     border: 2px solid $primary-teal;
//     border-radius: 10px;
//     font-family: $montserrat-regular;
//     font-size: 18px;
//     line-height: 22px;
//     text-align: center;
//     color: #287E8F;

//     &:hover{
//       background: $primary-teal;
//       color: white;
//     }
// }