@mixin container($breakpoint) {
    width: 100%;
    max-width: $breakpoint;

    @if ($breakpoint==$xl-breakpoint or $breakpoint==$lg-breakpoint) {
        padding-right: 40px;
        padding-left: 40px;
    }

    @else if $breakpoint==$md-breakpoint {
        padding-right: 24px;
        padding-left: 24px;
    }

    @else if $breakpoint==$sm-breakpoint {
        padding-right: 20px;
        padding-left: 20px;
    }

    margin-right: auto;
    margin-left: auto;
}