@mixin heading1() {
  color: $primary-teal;
  font-size: 72px;
  line-height: 69px;
  font-family: $montserrat-regular;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0.01em;
    font-family: $montserrat-regular;
  }
}

@mixin heading2() {
  color: $primary-teal;
  font-size: 36px;
  line-height: 31px;
  letter-spacing: 0.02em;
  font-family: $montserrat-regular;
  text-align: center;
}

@mixin heading3() {
  color: $primary-teal;
  font-size: 48px;
  line-height: 76px;
  font-family: $montserrat-regular;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
    font-family: $montserrat-regular;
  }
}

@mixin heading4() {
  color: $primary-gray;
  font-size: 24px;
  line-height: 69px;
  font-family: $montserrat-semi-bold;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    line-height: 29px;
    letter-spacing: 0.03em;
    font-family: $montserrat-semi-bold;
  }
}

@mixin body() {
  color: $primary-gray;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-family: $montserrat-regular;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    font-family: $montserrat-regular;
  }
}

@mixin link() {
  color: $primary-teal;
  font-size: 18px;
  line-height: 22px;
  font-family: $asap-regular;
  text-align: center;
}