// colours
$primary-brown: #5E514D;
$primary-blue: #3EB1C8;
$primary-light-blue: #EDF4F5;
$primary-teal: #287E8F;
$primary-gray: #333333;
$primary-white: #FFFFFF;

$secondary-orange: #F68D2E;
$secondary-dark-orange: #B05907;
$secondary-red: #E04E39;
$secondary-green: #A8AD00;
$secondary-black: #414042;
$secondary-purple: #8B84D7;

// breakpoints
$xl-breakpoint: 1920px;
$lg-breakpoint: 1440px;
$md-breakpoint: 768px;
$sm-breakpoint: 576px;

// fonts
$asap-regular: "Asap Regular",
sans-serif;
$asap-bold: "Asap Bold",
sans-serif;
$montserrat-italic: "Montserrat Italic",
sans-serif;
$montserrat-medium: "Montserrat Medium",
sans-serif;
$montserrat-regular: "Montserrat Regular",
sans-serif;
$montserrat-semi-bold: "Montserrat SemiBold",
sans-serif;