@import "../../../scss/base/variables";
@import "../../../scss/base/typography";

.contact {

    &__img-container {
        overflow: hidden;
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    &__img-mobile {
        display: none;
    }

    &__h1 {
        @include heading1();
        padding-top: 217px;
        padding-bottom: 36px;
    }

    &__body {
        @include body();
        padding-bottom: 40px;
        text-align: center;
        max-width: 930px;
        margin: auto;
    }

    &__button-container {
        text-align: center;
        padding-bottom: 217px;
    }

    @media (max-width: 1024px) {
        &__body {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (max-width: $sm-breakpoint) {
        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}