@import "../../scss/base/variables";
@import "../../scss/base/typography";

.card {
    @include body();
    height: 112px;
    width: 426px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 5px solid transparent;

    &__container {
        padding: 20px;
    }

    &__selected {
        border: 5px solid #F68D2E;
    }

    @media (max-width: $sm-breakpoint) {
        width: 335px;
        height: 79px;
        padding: 10px;

        &__container {
            padding: 16px;
        }
    }

    @media(max-width: 350px) {
        width: 280px;
        height: 79px;
        padding: 10px;

        &__container {
            padding: 10px;
        }
    }
}