@import "../../../scss/base/variables";
@import "../../../scss/base/typography";

.which-cards {
    &__h3 {
        @include heading3();
        margin-top: 60px;
        padding-left: 273px;
        padding-right: 273px;
    }

    &__link {
        @include link();
        padding: 45px;
    }

    &__body {
        @include body();
        padding-top: 20px;
        padding-left: 273px;
        padding-right: 273px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    &__button-container {
        text-align: center;
        padding: 40px
    }

    &__empty-card {
        @include body();
        color: $primary-gray;
        width: 426px;
        height: 112px;
        border: 1px dashed #828282;
        text-align: center;
        padding: 24px;
        margin: auto;
    }

    @media (max-width: 1024px) {

        &__h3,
        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media (max-width: $sm-breakpoint) {
        &__empty-card {
            width: 335px;
            height: 79px;
            padding: 10px;
        }
    }

    @media(max-width: 350px) {
        &__empty-card {
            width: 280px;
            height: 100px;
            padding: 10px;
        }
    }
}