@import '../../../scss/base/variables';
@import '../../../scss/base/typography';

.how-to {
    &__fade-in {}

    &__section-container {
        max-height: 569px;
        display: flex;
        direction: row;
    }

    &__text-container {
        max-width: 543px;
        margin: auto;
        padding: 20px;
    }

    &__h3 {
        @include heading3();
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__h4 {
        @include heading4();
    }

    &__body {
        @include body();
    }

    &__lottie-mobile {
        display: none;
    }

    @media (max-width: $sm-breakpoint) {

        &__h3,
        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__section-container {
            display: block;
        }

        &__lottie {
            display: none;
        }

        &__lottie-mobile {
            margin-top: 50px;
            display: block;
            overflow: hidden;
        }
    }
}