/* FONTS */
@font-face {
  font-family: "Montserrat Italic";
  font-weight: 400;
  src: url("./Montserrat/Montserrat-Italic.ttf")
}

@font-face {
  font-family: "Montserrat Medium";
  font-weight: 700;
  src: url("./Montserrat/Montserrat-Medium.ttf")
}

@font-face {
  font-family: "Montserrat Regular";
  font-weight: 400;
  src: url("./Montserrat/Montserrat-Regular.ttf")
}

@font-face {
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  src: url("./Montserrat/Montserrat-SemiBold.ttf")
}

@font-face {
  font-family: "Asap Bold";
  font-weight: 700;
  src: url("./Asap/Asap-Bold.ttf")
}

@font-face {
  font-family: "Asap Regular";
  font-weight: 400;
  src: url("./Asap/Asap-Regular.ttf")
}