@import "../../scss/base/variables";
@import "../../scss/base/typography";

.footer {
    padding: 40px;
    max-height: 115px;
    background-color: $primary-light-blue;
    display: flex;
    justify-content: space-between;

    &__left-container {
        display: flex;
        vertical-align: middle;
    }

    &__share {
        @include link();
        text-decoration: none;
        border-left: 1px solid $primary-teal;
        margin-left: 30px;
        padding-left: 30px;
        display: flex;

        a {
            vertical-align: middle;
            padding-left: 6px;
            padding-right: 5px
        }
    }

    &__link {
        @include link();
    }

    &__copyright {
        @include body();
        color: $primary-teal;
        float: right;
    }

    @media(max-width: $sm-breakpoint) {
        display: block;
        text-align: center;
        max-height: 277px;

        &__left-container {
            display: block;
        }

        &__share {
            border: none;
            margin: 0;
            padding: 0;
            padding-top: 35px;
            display: block;
        }

        &__social {
            padding-top: 10px;
            padding-bottom: 30px;

            img {
                width: 38px;
                margin: 10px;
            }
        }

        &__copyright {
            float: none;
        }
    }
}