@import "../../../scss/base/variables";
@import "../../../scss/base/typography";

.every-little-act {
    &__img {
        padding-top: 66px;
        padding-bottom: 38px;
        text-align: center;
    }

    &__h1 {
        @include heading1();
        padding-bottom: 36px;
    }

    &__h2 {
        @include heading2();
    }

    &__body {
        @include body();
        padding-bottom: 35px;
        padding-left: 273px;
        padding-right: 273px;
        -webkit-animation: fadein 2s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s;
        /* Firefox < 16 */
        -ms-animation: fadein 2s;
        /* Internet Explorer */
        -o-animation: fadein 2s;
        /* Opera < 12.1 */
        animation: fadein 2s;

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    @media (max-width: $md-breakpoint) {
        &__body {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (max-width: $sm-breakpoint) {
        &__h2 {
            padding: 5px;
            line-height: 42px;
        }

        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}