/*
 *  Global styles
 *  This should only be imported at the page level. Do not import into any component.
 */

// Import baseline resets
@import "./fonts/fonts";
@import "resets";

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: block;
}

@media (max-width: $md-breakpoint){
        .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none;
    }
}