@import "../../scss/base/variables";
@import "../../scss/base/typography";

.coming-soon {
    &__img {
        padding-top: 66px;
        padding-bottom: 38px;
        text-align: center;
    }

    &__h1 {
        @include heading1();
        padding-bottom: 36px;
    }

    &__h2 {
        @include heading2();
    }

    &__img {
        overflow: hidden;
    }

    @media (max-width: $md-breakpoint) {
        &__body {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (max-width: $sm-breakpoint) {
        &__body {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}